
body{
    background-image: linear-gradient( -45deg, #614385,  #516395)

}
@keyframes redball{
    0%{transform: translateZ(0px); }
    10%{transform:  translateY(-100px) translateZ(200px);}
    20%{transform:  translateY(-500px) translateZ(200px);}


}
#ball{
    height: 60vh;
    width:60vw;
    background-color: #20deffce;
    animation: redball 2s infinite;
    position: relative;
    z-index: 0;
    filter: blur(7px);
    -webkit-filter: blur(7px);
    opacity: .4;
}
#interest{
    font-size: 40px;
}
#meetjustin{
    transition: 2s;
    position: relative;
    
}
#meetjustin ::after{
    content: "";
    align-items: center;
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    border-right:2px solid #000;
    animation: type 2s steps(13) 1;
    
}
@keyframes type {
    100%{
        left: 100%
    }
}
h1{ 
    transition: 2s;
    font-size: 60px;
    text-align: left;
    margin-left: 100px;
    
}
h2{
    transition: 2s;
    margin-left: 100px;
    text-align: left;
}
#firstheader{
    transition: 2s;
    text-align: center;
}
#backstory{
    font-size: 40px;
}
#bye{
    font-size: 40px;
}
p, li{
    transition: 2s;
    
    font-size: 20px;
    margin-left: 100px;
    position: relative;
    list-style:  none;
    text-align: left;
}
li{
    margin-left: 58px;
}
#entire{
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
    font-family: 'Quicksand',sans-serif;
    display: flex;
}
