body{
    background-image: linear-gradient( -45deg, #614385,  #516395)

}
@keyframes redball{
    0%{transform: translateX(500px);}
    40%{transform: translateX(100px) translateY(-100px) translateZ(200px);}
}
#ball{
    height: 600px;
    width:600px;
    background-color: #20deffce;
    border-radius: 50%;
    animation: redball 2s infinite;
    position: relative;
    z-index: 0;
    filter: blur(7px);
    -webkit-filter: blur(7px);
}
#interest{
    font-size: 40px;
}
#meetjustin{
    transition: 2s;
    position: relative;
}
#meetjustin ::after{
    content: "";
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-right:2px solid #000;
    animation: type 2s steps(13) infinite;
    
}
@keyframes type {
    100%{
        left: 100%
    }
}
h1{ 
    font-family: 'Cutive Mono', monospace;
    transition: 2s;
    font-size: 60px;
    text-align: left;
    margin-left: 100px;
    
}
h2{
    font-family: 'Cutive Mono', monospace;
    transition: 2s;
    margin-left: 100px;
    text-align: left;
}
#firstheader{
    font-family: 'Cutive Mono', monospace;
    transition: 2s;

    text-align: center;
}
#backstory{
    font-size: 40px;
}
#bye{
    font-size: 40px;
}
p, li{
    font-family: 'Cutive Mono', monospace;
    transition: 2s;
    
    font-size: 20px;
    margin-left: 100px;
    position: relative;
    list-style:  none;
    text-align: left;
}
#entire{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    
}
