
body{
    background-color: #191970;

}
@keyframes redball{
    0%{transform: translateY(0px) rotate(0deg); top: 100vh;}
    100%{transform:  translateY(-200vh) rotate(360deg); top: 0vh;}


}

#square2{
    height: 40px;
    width:40px;
    margin-left: 500px;
    background-color: #20ffe1ce;
    animation: redball 6s  linear infinite;
    position: relative;
    z-index: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    opacity: .4;
    bottom: 200%;
    overflow: hidden;
}
#ball{
    height: 100px;
    width:100px;
    margin-left: 200px;
    background-color: #20ffe1ce;
    animation: redball 5s  linear infinite;
    position: relative;
    z-index: 0;
    filter: blur(7px);
    -webkit-filter: blur(7px);
    opacity: .4;
    top: 100%;
    overflow: hidden;
}
a div:nth-child(1) {
    height: 70px;
    width:70px;
    margin-left: 600px;
    background-color: #20ffe1ce;
    animation: redball 5s  linear infinite;
    animation-delay: .5s;
    position: relative;
    z-index: 0;
    filter: blur(7px);
    -webkit-filter: blur(7px);
    opacity: .4;
    top: 100%;
    overflow: hidden;
}
a div:nth-child(2) {
    height: 100px;
    width:100px;
    margin-left: 70px;
    background-color: #20ffe1ce;
    animation: redball 8s  linear infinite;
    animation-delay: .5s;
    position: relative;
    z-index: 0;
    filter: blur(7px);
    -webkit-filter: blur(7px);
    opacity: .4;
    top: 100%;
    overflow: hidden;
}
a div:nth-child(3) {
    height: 60px;
    width:60px;
    margin-left: 700px;
    background-color: #20ffe1ce;
    animation: redball 5s  linear infinite;
    animation-delay: .5s;
    position: relative;
    z-index: 0;
    filter: blur(7px);
    -webkit-filter: blur(7px);
    opacity: .4;
    top: 100%;
    overflow: hidden;
}

#interest{
    font-size: 40px;
}
#meetjustin{
    transition: 2s;
    position: relative;
    
}
#meetjustin ::after{
    content: "";
    align-items: center;
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    border-right:2px solid #000;
    animation: type 2s steps(13) 1;
    
}
@keyframes type {
    100%{
        left: 100%
    }
}
h1{ 
    transition: 2s;
    font-size: 40px;
    text-align: left;
    
}
h2{
    transition: 2s;
    text-align: left;
}
#firstheader{
    transition: 2s;
    text-align: center;
}
#backstory{
    font-size: 40px;
}
#bye{
    font-size: 40px;
}
p, li{
    transition: 2s;
    list-style-position: inside; padding-left: 0;
    font-size: 15px;
   
    position: relative;
    list-style:  none;
    text-align: left;
}
li{
    list-style-position: inside; padding-left: 0;
}
#entire{
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
    font-family: 'Quicksand',sans-serif;
    margin-left: 10vw;
    color: #20ffe1ce;
    
}
